.nav{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    margin-top: 18x;
    font-size: 20px;
    list-style: none;
    height: 5vh;

    
}

.bar{

height: 15vh;
width: 185vh;
border: solid;
border-radius: 20px;
}



.logo{
display: flex;
float: left;
width: 80px;
font-size: 30px;
margin-left: 80px;

padding-right: 200px;
}
.nav-bar{

display: flex;
justify-content: center;
justify-content: space-between;
list-style: none;
color: aliceblue;

}

.background{

background-color: #fcbf49;
background-position: absolute;
margin-right: 50px;
background: -moz-linear-gradient(left 80% left 80%);
background: linear-gradient(left 80%);
    
}

.landing{
    display: flex;
    justify-content: center;
    border-radius: 20px;

opacity: 10px;
height: 70vh;
width: 185vh;
background-image:ur("https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/776932/programming-a-robot-an-introductory-tutorial-b4ecdc608c18b5e580a62afff498de9b.png");

}

.name{
margin-top:100px;
height: 40vh;
width: 15vw;
color: white;
margin-right: 40px;
font-size: 25px;
border-radius: 20px;
}



.project{
margin-top: 250px;
display: flex;
justify-content: center;


}

.project-1{
border: solid ;
height: 360px;
align-items: center;
text-align: center;
text-align: justify;
justify-content: space-evenly;
margin-right: 10px;
text-align: center;
background-color:  #f7fdf6;;


width: 350px !important;
border-radius: 30px;
margin: 20px;
padding: 10px;
box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card img {
    height: 200px;
    width: 200px;
}

.about{
margin-top: 200px;
justify-content: center;
text-align: center;
align-items: center;
margin-right: 200px;



}


.scape{


    background-color: #003049;
border: solid;
border-radius: 20px;
}


.vl {
    border-left: 6px solid #003049;;
    height: 450px;
    position: absolute;
    left: 50%;
    margin-left: -3px;

    
  }

  .line{

display: flex;
justify-content: center;
margin-top: 100px;
margin-bottom: 100px;


  }

  .info{

margin-left: 300px;
margin-top: 50px;
color: black;

  }


.pro{
display: flex;
justify-content: center;

}

#hobies{

background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/210917102721-frilufleadbartone-interiors-lissa-gotwals-photography2.jpg");
 height: 120vh;
 width: 200vh;
 border-radius: 30px;
 margin-top: 100px;
 display: flex;
justify-content: center;
position: absolute;
}

.hazard{

height: 60vh;
width: 40vh;
border-radius: 30px;
}

.absolute{

display: flex;
margin-top: 721px;

}

.footer{

margin-top: 1700px;

}

.footer-1{

display: flex;
justify-content: center;
margin-right: 50px;
background-color: #003049;
color: #f7fdf6;



}