.nav{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    margin-top: 18x;
    font-size: 20px;
    list-style: none;
    height: 15vh;

    
}

.bar{

height: 15vh;
width: 185vh;
border: solid;
border-radius: 20px;
}



.logo{
display: flex;
float: left;
width: 80px;
font-size: 30px;
margin-left: 80px;

padding-right: 200px;
}
.nav-bar{

display: flex;
justify-content: center;
justify-content: space-between;
list-style: none;

}

.background{

background-color: #fcbf49;

    
}

.landing{
    display: flex;
    justify-content: center;
    border: solid;
    border-radius: 20px;
background-color: #003049;
height: 70vh;
width: 185vh;
background-image:ur("https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/776932/programming-a-robot-an-introductory-tutorial-b4ecdc608c18b5e580a62afff498de9b.png");

}

.name{
margin-top:150px;
height: 40vh;
width: 15vw;
color: white;
margin-right: 40px;
font-size: 25px;
border-radius: 20px;
}

