.nav{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    margin-top: 30px;
    font-size: 20px;
    list-style: none;
}
.logo{
display: flex;
float: left;
width: 80px;
font-size: 30px;
margin-left: 80px;
}
.nav-bar{

display: flex;
justify-content: center;
justify-content: space-between;
list-style: none;

}

.background{

background-color: #fcbf49;
    
}

.landing{

background-color: #003049;
height: 70vh;
width: 185vh;
background-image: ("https://praxis.dk/sites/praxis.dk/files/Produkter/Portfolio%209788729000686.jpg");

}